body{
    margin: 0;
}
.specialFont{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    font-size: 100%;
}
hr{
  margin: 0;
}


.stand {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
    z-index: 5;
}

.image {

    height: 10%;
    width: 20%;
    border-radius: 50%;
}

.list {
    list-style-type: none;
}




.divC {
    position: absolute;
}

/* home */
#home {
    background-color: indianred;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 30pt;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr 2fr 1fr;
}

@media screen and (max-width: 480px) {
  #home{
   
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 35% 35% 30%;
   
  }
 
}

.HomeheadingtextColor {
    color: antiquewhite;

}
@media screen and (max-width: 480px) {
    .HomeheadingtextColor{
        font-size: 70%;
        padding-top: 10px;
    }
 
}

.MinHeadingTextColor{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
}

.contactImg {

    height: 5%;
    width: 5%;
    border-radius: 60%;
}

.portfolioTitleBox{
    grid-row: 1;
    grid-column: 3 / 5;
    z-index: 6;
    background-color:indianred ;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    padding-top: 10%;
}

.portfolioTitle{
    font-size: 500%;
}

@media screen and (max-width: 750px) {
    .portfolioTitle{
        font-size: 300%;
        padding-top: 10px;
    }
 
}
@media screen and (max-width: 480px) {
    .portfolioTitle{
      font-size: 100%;
    }
   
  } 

.summary{
    grid-area: 2/4;
}

.contactBlock{
    background-color: rgba(221, 128, 116, 0.712);
    margin: 5px;
    text-align: center;
   justify-items: center;
   padding-top: 20px;
 
}

@media screen and (max-width: 480px) {
    .contactBlock{
     padding-top: 0;
    }
  
 }

.fontContact{
    font-size: 90%;
    font-weight: 100;
}

@media screen and (max-width: 480px) {
   .fontContact{
    font-size: 60%;
   }
 
}

.cellphone{
 
    grid-area: 3/3;
 
}
.email{
    grid-area: 3/2;
  
}
.location{
    grid-area: 3/1;
  
}
.imageSummary{
    grid-row: 1/4;
    grid-column: 1/4;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 480px) {
   .imageSummary{
    height: 100%;
    width: 100%;
   }
 
}
.iconSummary{
    height: 20%;
    width: 10%;
}

/*About*/

#about{
  background-color: rgba(221, 128, 116, 0.712);
display: grid;
grid-template-rows: 1fr 1fr  2% ;
grid-template-columns: 2% 1fr 1fr 1fr ;
height: fit-content;
width: 100%;
padding: 5% ;
margin-top: 1%;
margin-bottom: 1%;
}
@media screen and (max-width: 560px) {
   .list{
    font-size: 70%;
   }
   p{
    font-size: 70%;
   }
  
 }

.backgroundBlock{
    width: 100%;
    height: 100%;
    background-color:indianred ;
    grid-row: 2 / 4;
    grid-column: 1 / 3;
    z-index: 1;
}
.aboutBlock{
    background-color: bisque;
    grid-row: 1 / 3;
    grid-column: 2 / 4;
    z-index: 2;
    padding: 5%;
    text-align: center;
}

.cv{
    text-align: center;
    grid-row: 1 / 3;
    grid-column: 4 / 5; 
    margin-left: 15%;
}

.cvImage{
    border-radius: 20%;
    height: 80%;
    width: 90%;
}

/*Skills*/


#skills{
    text-align:  center;
    margin-left: 2%;
    margin-right: 2%;
}
.basicComputerSkill{
    display: flex;
    flex-wrap: wrap;
    gap:2.5%;
    justify-content:  center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.gridBox{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    width: 20%;
    box-shadow: 0 10px 15px rgba(7, 7, 7, 0.1);
    

}

.box{
    background-color:indianred ;
    width: 100%;;
    height: 100%;

}

.box1{
grid-area: 1/2;
}

.box2{
grid-area: 2/1;
}
.contentBox{
    background-color: rgb(249 241 239);
    padding: 2%;
    grid-column: 1/3;
    grid-row: 1/3;
    margin: 1.5%;
    text-align: center;
    z-index: 2;

}

.TechnicalSkillGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 186px);
    gap: 3%;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
.gridBoxTechnical{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    width: 100%;
    height : 100%;
    box-shadow: 0 10px 15px rgba(7, 7, 7, 0.1);
    
    

}



.skillImage {

    border-radius: 10%;
    border-color: black;
    margin: 10px;
    height: 40%;
    width: 40%;
}

.skillDiv {
    background-color: rgb(228, 225, 225);
    border-radius: 5%;
    margin: 8px;
    height: 100%; 
    padding: 8px;

}

.skillDiv1 {
    background-color: rgb(228, 225, 225);
    border-radius: 5%;
    margin: 8px;
    height: 100%;
    padding: 4px;
    box-shadow: 0 10px 15px rgba(7, 7, 7, 0.1);

}

.fontSkillCard{
    font-size: 100%;
    font-weight: bolder;
    font-style:oblique;
}

@media screen and (max-width: 580px) {
    .fontSkillCard{
        font-size: 70%;
    }
  
 }

 @media screen and (max-width: 580px) {
    .hrMargin{
     margin: 0;
    }
  
 }




/*Expriences*/

#experience{

    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
  
}
.experienceContainer{
    display: flex;
    justify-content: center;
}

.myExpBox {
    border-radius: 10%;
    border-color: indianred;
    border-style: double;
    text-align: center;
    margin: 5%;
    padding: 5%;
    box-shadow: 0 10px 15px rgba(7, 7, 7, 0.1);
    background-color: rgba(221, 128, 116, 0.712);
}
@media screen and (max-width: 580px) {
   .myExpBox{
    padding: 0;
   }
  
 }


/*footer*/

.contactImageContainer{
    display: flex;
    justify-content: center;
}
.emailContactPic{
    width: 25px;
    margin-left: 5px;
    margin-right: 5px;
}
#contact{
  padding: 5%;
    background-color: indianred;
    text-align: center;
    width: 100%;
    padding-top: 56px;

}
#copyRight{
    font-size: 70%;
}




