

.divColour{
    background-color: indianred;
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 35px;
    
}



.divNoColour{

    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 35px;
    
}

.stand{
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
}

.image{

    height: 10%;
    width: 20%;
    border-radius: 50%;
}

.list{
    list-style-type: none;
}

.textColor{
    color: antiquewhite;
}

.contactImg{

    height : 10%;
    width : 10%;
    border-radius: 50%;
}

.divContactElement{
    position: absolute;
}

.divC{
    position: absolute;
}


#home{
 margin-top: 30pt;
}

.computerSkill{
    display:flex;
    justify-content:center;
 
  
}

@media(max-width:800px){
    .computerSkill{
        display:flex;
        flex-direction: column;
        justify-content:center;
     
      
    }
}

.skillImage{

    border-radius: 40%;
    border-color: black;
    margin: 10px;
    height: 30%;
    width: 50%;
}

.skillDiv{
    background-color: rgb(228, 225, 225);
    border-radius: 5%;
    margin: 15px;
    height: 180pt;
    padding: 10px;
}

.myExp{
    border-radius: 10%;
    border-color:indianred ;
    border-style: double;
    text-align: center;
    margin: 20px;
    padding: 8px;
}