.divColour {
    background-color: indianred;
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 25px;
    padding-top: 56px;

}

.divNoColour {

    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 35px;
    padding-top: 56px;

}

.stand {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 0;
}

.image {

    height: 10%;
    width: 20%;
    border-radius: 50%;
}

.list {
    list-style-type: none;
}

.textColor {
    color: antiquewhite;
}

.contactImg {

    height: 5%;
    width: 5%;
    border-radius: 60%;
}

.divContactElement {

    margin: 20px;
}

.divC {
    position: absolute;
}


#home {
    margin-top: 30pt;
}

.computerSkill {
    display: flex;
    justify-content: center;
    align-items: center;



}



.skillImage {

    border-radius: 10%;
    border-color: black;
    margin: 10px;
    height: 40%;
    width: 40%;
}

.skillDiv {
    background-color: rgb(228, 225, 225);
    border-radius: 5%;

    margin: 8px;

    height: fit-content;
    padding: 8px;

}

.skillDiv1 {
    background-color: rgb(228, 225, 225);
    border-radius: 5%;

    margin: 8px;
   
    height:fit-content;
    padding: 8px;

}

.fontSkillCard{
    font-size: 100%;
    font-weight: bolder;
    font-style:oblique;
}

.TechnicalSkill {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.myExp {
    border-radius: 10%;
    border-color: indianred;
    border-style: double;
    text-align: center;
    height: 390px;
    margin: 20px;
    padding: 10px;
}